section .st-emotion-cache-6qob1r{
background-color: brown;
color: brown;
}

div .st-emotion-cache-jkfxgf p{
color:yellow;

}

div .st-bl{
    color: brown;
}

div .block-container, div .st-emotion-cache-18ni7ap{

    background-color:blanchedalmond;
}
